if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

use flake

export RABBIT_ADMIN_USERNAME="admin"
export RABBIT_ADMIN_PASSWORD="password"
export RABBIT_HOST="localhost"
export RABBIT_CONSOLE_PORT="15672"
export RABBIT_PORT="5672"


export SAMPLE_VHOST=zone-sensitive
export SAMPLE_EXCHANGE=app
export SAMPLE_RABBIT_HOST=localhost
export SAMPLE_RABBIT_PORT=5672
export SAMPLE_QUEUE=queue-jobs
export RABBIT_USER=usr
export RABBIT_PASSWORD=5116f734-945d-410c-8468-a63c1cabdd79
