if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

use flake

export RABBIT_ADMIN_USERNAME="admin"
export RABBIT_ADMIN_PASSWORD="password"
export RABBIT_HOST="localhost"
export RABBIT_CONSOLE_PORT="15672"
export RABBIT_PORT="5672"

export SAMPLE_EXCHANGE=zonea
export SAMPLE_QUEUE=queue5
export SAMPLE_USERNAME=zonea
export SAMPLE_PASSWORD=e2d30517-bd70-453a-98b9-962b84c924d4
